.videofooter{
    margin-bottom: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.videoTile{
    height: 40vh;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-top: 2%;
}


.voteButtons{
    display: flex;
    width: 10%;
    justify-content: space-between;
}